@import "alert.css";
@import "colors.css";
@import "cursor.css";
@import "d3.css";
@import "fonts.css";
@import "gmap.css";
@import "overlays.css";
@import "text.css";

html,
body {
  background: var(--app-white);
  padding: 0;
  margin: 0;
  min-height: 100%;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  margin: auto;
}

.uppercase {
  text-transform: uppercase;
}

::-moz-selection {
  color: #000;
  background: var(--app-green);
}

::selection {
  color: #000;
  background: var(--app-green);
}

* {
  scrollbar-width: 6px;
  scrollbar-color: var(--app-green);
}

*::-webkit-scrollbar-button {
  display: none;
}

*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--app-green);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--app-green);
  border-radius: 20px;
  border: 1px solid var(--app-grey);
}