.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.PlanWrapper {
  max-width: 100vw;
  width: 60%;
}

.MapWrapper {
  width: 40%;
}

.MapCard {
  height: calc(100% - 2em);
}

.MapInnerWrapper {
  height: calc(100% - 5em);
  min-height: 700px;
}

.FuelAndWeather {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.FuelAndWeather > :nth-child(1){
  width: calc(30% - 2em);
}

.FuelAndWeather > :nth-child(2) {
  width: calc(70% - 2em);
}


@media (width < 1500px) {
  .PlanWrapper {
    width: auto
  }
  .MapWrapper {
    width: 100%;
  }
}