.Wrapper {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.Form {
  margin-bottom: 1em;
}

.ButtonWrapper {
  display: flex;
  justify-content: center;
}

.ViewMapIcon {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-left: 0.5em;
  cursor: pointer;
  color: var(--app-lightGrey);
}

.MapWrapper {
  height: 70vh;
  width: 100vh;
}

.MapWrapper :global(.leaflet-marker-icon) {
  pointer-events: none;
}