.Button{
  border: none;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: 0.5s;
}

.Button:hover{
  background-position: bottom;
}

.LoadingWrapper {
  height: 70%;
  width: 100%;
  color: var(--app-dark);
  stroke-width: 8px;
}