.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MetarGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.MetarGrid div {
  padding: 0.2em 0 0.2em 0;
}

.MetarGrid div:nth-child(even) {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, #5a5858, transparent);
  border-image-slice: 1;
}

.MetarGrid div:nth-child(odd) {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, transparent, #5a5858);
  border-image-slice: 1;
}

.StyledMetar {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.StyledMetar div {
  cursor: pointer;
}