.Title {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 1em;
  flex-wrap: wrap;
  margin: 1em;
}

.Title h1 {
  margin: 0
}

.TitleBadges {
  display: flex;
  gap: 1em
}

.MainInfoCardContainer {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.MapContainer {
  flex-grow: 1;
  min-width: 340px;
  min-height: 350px;
}

.Card {
  background-color: var(--app-darklight);
  color: var(--app-white);
}

.CardTitle {
  background-color: var(--app-dark);
  color: var(--app-green);
}

.MainInfoTable {
  border-collapse: collapse;
}

.MainInfoTable tr td:first-child {
 padding-right: 1em;
 vertical-align: top;
}

.MainInfoTable tr {
  padding: 0.3em 0 0.3em 0;
  display: block;
}

.MainInfoTable tr:not(:last-child) {
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, transparent, #5a5858, transparent);
  border-image-slice: 1;
}

.ChartsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.ChartsLink {
  margin-left: 0.5em;
}

.RunwayContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}

.RunwayContainer table {
  border-radius: 10px;
  overflow: hidden;
  border-collapse:separate;
}

.RunwayContainer thead {
  background-color: var(--app-dark);
}

.TableLights td {
 text-align: center;
}