.TableWrapper {
  overflow: scroll;
  max-width: 100%;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Table {
  min-width: 100%;
  width: fit-content;
  position: relative;
  border-collapse: collapse;
  background-color: transparent;
  overflow: scroll;
}

.Table::-webkit-scrollbar {
  display: none;
}

.TableWrapper::-webkit-scrollbar {
  display: none;
}


