.Title {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 1em;
  flex-wrap: wrap;
  margin: 1em;
}

.Title h1 {
  margin: 0
}

.TitleBadges {
  display: flex;
  gap: 1em
}

.MainInfoCardContainer {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
}

.MapContainer {
  flex-grow: 1;
  min-width: 340px;
  min-height: 350px;
}

.Card {
  background-color: var(--app-darklight);
  color: var(--app-white);
}

.CardTitle {
  background-color: var(--app-dark);
  color: var(--app-green);
}

.MainInfoTable {
  border-collapse: collapse;
}

.MainInfoTable tr td:first-child {
 padding-right: 1em;
 vertical-align: top;
}

.MainInfoTable td {
  padding: 0.3em 0;
}

.MainInfoTable tr:not(:last-child) {
  border-bottom: 1pt solid #74717133;
}

.ChartsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
}

.ChartsLink {
  margin-left: 0.5em;
}

.RunwayInfoGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.2em 1em;
}

.RunwayInfoGridContainer {
  display: flex;
  flex-wrap: wrap;
}

.RunwayInfoGridContainer > * {
  width: calc(50% - 1em);
}

.RunwayInfoGridContainer > * > div:first-child {
  background-color: #151515;
  text-align: center;
}

.RunwayInfoGridContainer > *:nth-child(even) {
  border-left: 2px solid #363636;
}

.RunwayLightsContainer {
  margin: 0.2em 1em;
}

.RunwayInfoGrid > *,
.RunwayLightsContainer > * {
  padding: 0.2em 0;
}

.TableLights td {
 text-align: center;
}